/*------------------------------------------------------------------*/
/* -- Breakpoints */
/* ----- 320px - 480px : mobile device ----- */
/* ----- 481px - 768px : iPads / Tablets ----- */
/* ----- 769px - 1024px : laptop ----- */
/* ----- 1025px - 1200px : desktop ----- */
/* ----- 1201px -     : TV ----- */
/* ------------------------------------------------------------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small and Medium devices (portrait tablets and large phones, 600px and landscape tablets, 768px ) */

@media only screen and (min-width: 601px) and (max-width:768px) {
  .responsive {
    display: flex;
    flex-direction: row;
    justify-content:space-between
  } 
.allexploration {
   background-color: lightgreen;
   color:pink;
   flex:50%;
   padding:0px ;
   padding-bottom:20px;
}
.fonctionnement {
  display:flex;
  flex-direction:column;
  background-color: lightyellow;
  color:red;
  flex:50%;
} 
  
 .responsive-menu {
    flex-basis:auto;
   display:flex;
   font-size:13px;
  }
  li i {/*fonctionnement.css*/
    margin-right: 8px;
    margin-left: 10px;
}
}
/*  */
/* Large devices (laptops/desktops, 992px) and Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px)  {
  .responsive {
    display: flex;
    flex-direction: row;
    justify-content:space-between
  } 

  .allexploration {
    background-color: lightpurple;
    color:red;
    flex:50%;
    padding:0px ;
    padding-bottom:20px;
  }
  .fonctionnement {
    background-color: orange;
    color:brown;
    flex:50%;
    margin: 0px 0px 10px 0px;
  }
  
  .fonctionnement h2 {
    padding-left:20px;
  }
  
  .fonctionnement-menu{
    padding-left:50px;
  }
 
  .menu{
    width:auto;
  }

  .fonctionnement {
    display:flex;
    flex-direction:column;
    background-color: lightyellow;
    color:red;
    flex:50%;
  } 
  
  .responsive-menu {
    flex-basis:auto;
    display:flex;
    font-size:12px;
  }
  
  li i {/*fonctionnement.css*/
    margin-right: 7px;
    margin-left: 9px;
  }
}