/*--------------------------------------*/
.header--menu {
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
}

.header__a {
    display: inline-block;
}

.fa-arrow-left {
    grid-column: 1;
    text-align: center;
    vertical-align: center;
    margin: 20px 15px 10px 25px;
}

.header__logo {
    grid-column: 2;
    text-align: center;
}
/*--------------------------------------*/
.restau__picture {
    position: relative;
    width: 100%;
    height: 250px;
    left:0px;
    z-index:-1;
}

img.restau-img {
    width: 100%;
    height : 250px;
    object-fit: cover;
}
/*--------------------------------------*/
.restau__menu { 
    /* Bloc main de la page nom/coeur + articles menu + btn cde*/
    background-color: var(--light-grey);
    position:relative;
    top: -30px;
}

.reference {
    /* Bloc nom restau + coeur */
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}

.reference .fa-heart {
    /* coeur page restaurant */
    padding:20px;
}

.deroule {
    margin-top: 30px;
    padding-left: 10px;
    margin: 20px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    width:100px;
}
.deroule h3 {
    padding: 0px;
    margin: 0px;
}

.deroule .decale{ /* décalage du mot PLAT pour 2 restaurants d'après maquette */
    padding-left: 50px;
}

.deroule span {
    /* souligne 4 caractères début article menu */
    padding-bottom: 3px;
    border-bottom: 3px solid var(--tertiary);
}

.article--menu {                /* Bloc Article menus */
    display: flex;
    flex-direction: column;   
}

@keyframes bloc-appear {
    from {
        transform:translateY(100%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menus .entree{
    animation: bloc-appear 2s backwards; 
}
.menus .plat {
    animation: bloc-appear 2s 1s backwards; 
}
.menus .dessert{
    animation: bloc-appear 2s 2s backwards; 
}
.card-menu:hover > .card-menu__boxtext {/* diminution de la boîte principale au survol => ellipsis */
    flex: 80%;
}

.card-menu {  
    width: 100%;                          /* label + commentaire + prix + check */
    border-radius : 20px;
    box-shadow: 8px 6px 4px var(--grey);
    display: flex;
    flex-direction: row;
    margin:  6px 10px 6px 0px ;
    height: 60px;
    cursor: pointer;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card-menu__boxtext {                    /* bloc pour label + commentaire + prix */
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.card-menu__label {                         /* label du plat */
    padding : 15px 0px 15px 20px;
    margin: 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-menu__precision {                      /* bloc pour commentaire + prix */
    margin: 0px;
    padding : 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-menu__commentaire {                   /* commentaire du plat */
    padding : 5px 0px 10px 20px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-menu__prix {                          /* prix du plat */
    margin: 0px 0px;
    padding : 5px 20px 10px 0px;
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: flex-end;
    transition-property: transform;
    transition-duration: 1s;
 }

.card-menu:hover > .card-menu__boxcheck {        /* apparition du bloc vert du choix */
    flex:20%;
    transform: translateX(0px);
    background-color: var(--tertiary);
    justify-content: center;
    align-items: flex-end;
    color : var(--white);
}

 .card-menu__boxcheck {          /* pour le choix du plat */
    flex:0%;
    margin: 0px 0px;
    padding: 0px 0px 10px 0px;
    justify-content: center;
    align-items: flex-end;
    color: var(--white);    
    transform:translateX(2vw);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.card-menu:hover .fa-circle-check {
    position: absolute;
    font-size:xx-large;
    left:20px;
    bottom:10px;
    background-color: var(--white);
    border-radius: 20px;
    color : var(--tertiary);
    transform: rotate(360deg);
}

.card-menu__boxcheck  .fa-circle-check {
    font-size:xx-small;
    margin:0px;
    padding:0px;
    transition:transform ;
    transition-duration : 2s;
    transition-delay:0.1s;
  }

 /* ---------------------------------------- */
 .box_restau-btn {              /* positionnement du bouton "commander" */
    position: relative;
    height: 120px;
 }

 .restau-btn {
    position: absolute;
    top:30px;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    justify-content: center;
 }
 
/* ---------------------------------------- */
.footer--menu {              /* positionnement du footer */
    position   : relative;
    height: 230px;
    top: -30px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .menus {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .article--menu {            /* Bloc Article menus */
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .card-menu {            /* Bloc Article menus */
        display: flex;
        width: 27%;  
        flex-direction:row;
    }    
    .plat .card-menu1 {
        margin-left: 0px;
    }
    .entree .card-menu2 {
        margin-left: 100px;
    }
}
@media only screen and (min-width: 993px){
    .menus {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .article--menu {            /* Bloc Article menus */
        display: flex;
        flex-direction: column;    
    }

}
@media only screen and (min-width: 768px){
    .deroule .decale{ /* décalage du mot PLAT pour 2 restaurants d'après maquette */
        padding-left: 00px;
    }
    .card-menu:hover .fa-circle-check {
        position: absolute;
        font-size:x-large;
        left:12px;
        bottom:15px;
        background-color: white;
        border-radius: 20px;
        color : var(--tertiary);
        transform: rotate(360deg);
    }
    .footer--menu {              /* positionnement du footer */
        position: relative;
        height: 180px;
        top: -30px;
    }
}